{% extends 'music/base.html' %}
{% block title %}Album Details {% endblock%}

{% block body %}
    <img src="{{ album.album_logo.url }}" style="width: 250px;">

    <h1>{{ album.album_title }}</h1>
    <h1>{{ album.artist }}</h1>


    <ul>
    {% for song in album.song_set.all %}
        <li> {{ song.song_title }} </li>
            {% if song.is_favorite%}
                <img src="http://i.imgur.com/b9b13Rd.png">
            {% endif %}
    {% endfor %}
    </ul>
    <!--<input type="submit" value="Favorite">-->

    <!--</form>-->
    <!--<ul>-->
        <!--{% for song in album.song_set.all %}-->
        <!--<li> {{song.song_title}} - {{ song.file_type}} </li>-->
        <!--{% endfor %}-->

    <!--</ul>-->
{% endblock %}